* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: #0D0D0D;
  padding-left: 40px;
  padding-right: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 90px;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: row;
  gap: 75px;
}

.nav {
  display: flex;
  gap: 65px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
}

.logo {
  height: 57px;
  width: 57px;
}

.addButton {
  background-color: #FF6900;
  text-align: center;
  width: 142px;
  height: 40px;
  border-radius: 20px;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
}

.products-container {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 40px;
}

.product {
  display: flex;
  padding-left: 50px;
  padding-right: 60px;
  color: #CFCFCF;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}

.product-left {
  display: flex;
  gap: 25px;
  align-items: center;
}

.product-img {
  margin-right: 20px;
}

.product-name {
  font-size: 24px;
  font-weight: 500;
}

.product-price {
  font-size: 20px;
  font-weight: 400;
}

.product-right {
  display: flex;
  gap: 75px;
  align-items: center;
}